<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <%= form_with(url: sessions_path, :class => "form-horizontal") do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, :class => "form-control", :tabindex => "1", :required => "true", :autofocus => "true", :placeholder => "Email" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password", :class => "form-control", :tabindex => "2", :required => "true" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= f.submit "Sign In", :class => "btn btn-primary btn-block", :tabindex => "4" %>
          </div>
        </div>
      <%end%>
      <p class="mb-1">
        <a href="#" data-toggle="modal" data-target="#exampleModal">I forgot my password</a>
      </p>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send Instruction For reset password </h5>
              <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_with(url: forget_password_mail_path, :class => "forget_email_mail_form", method: :get) do |f| %>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Email</label>
                  <%= f.email_field :email, :class => "form-control", id: "recipient-name", :required => "true", :autofocus => "true", :placeholder => "Enter Email..." %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= f.submit "Send", :class => "btn btn-primary"%>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <p class="mb-0">
        <a href="<%=new_user_path%>" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</body>
<!-- /.login-box -->