<h2>Forgot your password?</h2>
<%= form_for(@user, url: update_password_user_path(@user.id), html: { method: :patch }) do |f| %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",:class => "form-control", :placeholder => "type password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password",:class => "form-control", :placeholder => "Retype password" %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
